= auto_page_parts
%h1
  Members
  %br
  %br
%ul
  - @users.each do |user|
    %li
      %strong
        = user.username
      = " (" + user.email + ")"
      |
      = link_to "Edit", edit_user_path(user)
%br
%br
= link_to "Create", new_user_path