#app_head
  %h1#app_title
    APP - Architectural Portfolio Platform
    %br
    = link_to "See Plans and Pricing", service_plans_path
  %p#app_description
  
#navigation
  %ul
    %li
      = link_to "index"
    %li 
      = link_to "residential"
    %li 
      = link_to "commercial"
    %li 
      = link_to "search"
  %ul
    %li 
      = link_to "submissions"
    %li 
      = link_to "about us"
    %li 
      = link_to "contact us"
    
.clear