|
- if current_user
  = link_to current_user.username + "'s Profile", profile_path()
  (
  = link_to "Edit", edit_profile_path()
  )
  |
  = link_to "Sign out", logout_path
- else
  = link_to "Register", signup_path
  |
  = link_to "Sign in", login_path
  |
  = link_to "Forgot Password?", forget_password_path