<p>
  <b>Order:</b>
  <%=h @order_transaction.order_id %>
</p>

<p>
  <b>Action:</b>
  <%=h @order_transaction.action %>
</p>

<p>
  <b>Amount:</b>
  <%=h @order_transaction.amount %>
</p>

<p>
  <b>Success:</b>
  <%=h @order_transaction.success %>
</p>

<p>
  <b>Authorization:</b>
  <%=h @order_transaction.authorization %>
</p>

<p>
  <b>Params:</b>
  <%=h @order_transaction.params %>
</p>


<%= link_to 'Edit', edit_order_transaction_path(@order_transaction) %> |
<%= link_to 'Back', order_transactions_path %>